@import "bootstrap-sprockets";
@import "bootstrap";
@import 'chosen';


body{
  text-align: center;
  background-color: rgb(238,238,238) !important;
  font-family: 'Anonymous Pro', monospace !important;
  padding-top:60px;
}
#nav
{
  height: 70px;
  padding-right: 2%;
  padding-left: 2%;
  background: rgba(0,0,0,0.8) !important;
  border: 0;
}
.navbar-brand
{
  font-size: 3rem;
  margin-top:10px;
  color: #fff !important;
}
.main_page_link, .log_in_link
{
  margin-top: 10px;
  color: #fff !important;
}
.sign_up_link
{
  margin-top:5%;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  color: #fff!important;
  background: #ed1c40;
  border-color: #ed1c40;
  /*margin-right: 5%;*/
}
.sign_up_link:hover
{
  background: #ed1c40 !important;
  border-color: #ed1c40 !important;
  text-decoration: underline !important;
}
.sign_up_link:visited
{
  background: #ed1c40 !important;
  border-color: #ed1c40 !important;
}
.dropdown_link
{
  margin-top: 10px;
  color: #fff !important;
}
.main_choice
{
  margin-top: 70px;
  text-align: center;
}
.main_choice li
{
  padding: 5px 10px 5px 10px;
  border : 1px solid black;
  width: 20%;
  margin-top: 0.5%;
  list-style-type: none;
  margin-left: 38.5%;
}
.main_choice h4
{
  margin-top: 20%;
  margin-bottom: 1.5%;
  font-size: 3rem;
}
.active
{
  background: black;
  color:white;
}
.main_choice a
{
  padding: 8px 16px;
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  color: #fff!important;
  background: #ed1c40;
  border-color: #ed1c40;
}

.projects_preview {
  margin-bottom: 2%;
}

tbody{
  border-radius: 5px;
}
.projects_preview tr{

  }
.projects_preview td
{
  padding-bottom: 2%;
  padding-top: 2%;
}
.img_td
{
  width: 20%;
  text-align: center;
}
.description
{
  width:43%;
  text-align: center;

}
.difficulty
{
  padding: 2% 0 0 0 !important;
  width:20%;
}
.date
{
  width: 26.5%;
  text-align: center;
}
.news_arrow
{
  margin-right: 3%;
}
.company
{
  clear: both;
}
.open_full,.open_full:hover,.open_full:active
{
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  color: #fff !important;
  background: #ed1c40 !important;
  border-color: #ed1c40 !important;
}
.heading
{
  font-weight: bold;
  font-size: 2rem;
}
.mikaskazala
{
  margin: 0 0 20px 20px;
  float: left;
  padding: 0 15px;
}
.description h4
{
  text-align: left;
  margin-left: 5%;
  font-weight: bold;
}
.from
{
  font-weight: 200;
  text-align: left;
  margin-left: 5%;
}
.project{
  /*background: rgba(0,0,0,0.5) !important;*/
  background: rgba(255,255,255,0.9) !important;
  color: black;
  border-radius:10px;
}
.top
{
  float: right;
  margin-right: 2%;
  border: 1px solid #E8E8E8;
  background-color: white;
  text-align: center;
  width: 19%;
  position: fixed;
  right: 1%;
}
.top ul
{
  padding: 0;
  margin: 0;
}
.top ul li
{
  list-style-type: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 8%;
}
.projects_preview_img_td
{
  width: 20%;
}
.projects_preview_img
{
  width: 80%;
  border-radius: 20%;
}
.best_users_img
{
  width: 15%;
  float: left;
  margin-left: 20%;
}
.best_users_username
{
  margin-right: 25%;
  font-size: 1.7rem;
}
.news_modal
{
  padding: 5%;
}
.news_modal a{
  padding: 6px !important;
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  color: #fff!important;
  background: #ed1c40;
  border-color: #ed1c40;
  border-radius: 5px;
}
.task_img
{
  width: 40%;
}

.work_with_project_link
{
  margin-bottom: 20px;
  margin-top: 20px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}



@media screen and (max-width: 768px) {
  body
  {
    padding-top: 60px !important;
  }
  .navbar-brand{
    position: absolute;
    margin-left:-80px;
  }
  .navbar-toggle{
    margin: 20px 0 0 130px !important;
  }
  .navbar-collapse{
    position: absolute;
    background:rgb(48,48,48) !important;
    width: 50%;
    margin: 13px 0 0 45% !important;
    border: none;
  }
  .collapsing
  {
    position: absolute;
    background:rgb(48,48,48) !important;
    width: 50%;
    margin: 13px 0 0 45% !important;
    border: none;
  }
  .main_page_link, .sign_up_link, .log_in_link{
    color: white !important;
  }
  .sign_up_link{
    background: none !important;
    border: none;
  }
  .sign_up_link:active{
    background: none !important;
    border: none;
  }
  .prelogandsignli{
    margin: 5% 0 0 35% !important;
  }
  .fadeInRight{
    animation-name: none;
  }
  .mikaskazala{
    margin-bottom: 5%;
    margin-left: 0;
  }
  .top{
    display: none;
  }
  input{
    border: 1px solid lightgray;
  }
  #user_avatar
  {
    margin-left: 25px;
  }
  #footer
  {
    display:none;
  }

  .how_img .img
  {
    float: none !important;
    width: 50% !important;
    margin: 0 !important;
  }
  .how_text
  {
    margin-top: 0% !important;
    padding: 2% !important;
  }
  .user_avatar
  {
    margin-top: 10px;
  }
  .profile_image
  {
    float: none !important;
    width: 50% !important;
  }

  .name
  {
    padding: 0 !important;
  }
  .info ul
  {
    padding: 0;
  }
  .myrow{
    float: none !important;
  }
  .info1,.info{
    margin: 0 !important;
    width: 100% !important;
    float: none !important;
    height: 20vh !important;
  }
  .name{
    padding-left: 0 !important;
  }
  .myright_text
  {
    margin-top: 15px !important;
  }
  .message
  {
    margin-top: 0 !important;
  }
  .right_text
  {
    margin-top: 20px !important;
  }
  .my_project_preview
  {
    padding: 10px 15px !important;
  }
  .days_left
  {
    display: none;
  }

}
