@import "bootstrap-sprockets";
@import "bootstrap";

body{
  text-align: center;
  background-color: rgb(238,238,238) !important;
  font-family: 'Anonymous Pro', monospace !important;
  padding-top:70px;
}



* { box-sizing: border-box; }
.video-background {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
}
#vidtop-content {
	color: #fff;
}
.text
{
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 2rem;
  width: 80%;
  margin:2rem;
  float: right;
  margin-right: 10%;
  font-size: 1.2rem;
  margin-top: 9%;
  opacity: 1;
  margin-bottom: 40%;
}
.text h1
{
  font-size: 5rem;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}


#footer
{
  padding-top: 15px;
  background-color: rgb(238,238,238) !important;
  border-top: 1px solid black;
}
.how_it_works_navigation a
{
  padding: 5%;
  color:black;
}
.how_it_works_navigation a:hover{
  color:#ed1c40;

}

#projects,#work,#apply,#feedback
{
  height: 100vh;
}
.how_text1
{
  float: left;
  margin-left: 5%;
  padding: 5%;
}

.how_img1 .img
{
  float: right;
  width: 37%;
  margin-right: 10%;
}
.how_text
{
  float: left;
  margin-left: 5%;
  padding: 5%;
  margin-top: 10%;
}

.how_img .img
{
  float: right;
  width: 37%;
  margin-right: 10%;
  margin-top: 10%;
}
