.profile_image
{
  width: 30%;
  float: left;
  margin-top:7%;
}
.container
{
  padding: 0;
}
.row
{
  float: right;
  width: 60%;
}
.info
{
  height: 30vh;
  float: left;
  width: 40%;
  margin-left: 7%;
}
.info1
{
  height: 30vh;
  float: right;
  width: 40%;
  margin-right: 7%;
}
.info ul{
  list-style-type: none;
}
.name
{
  padding-left:43%;
}
