.new_project
{
  border: 1px solid lightgray;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 3%;
  background-color: white;
}

.new_project_header{
  color:#ed1c40;
}
  

.sign_up_button1{
  padding:8px 16px !important;
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  color: #fff!important;
  background: #ed1c40;
  border-color: #ed1c40;
  border-radius: 5%;
  margin-top: 5%;
}
